@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --page-1-bg: steelblue;
    --page-2-bg: darkKhaki;
    --page-3-bg: teal;
    --page-4-bg: #ff7675;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Page bg Colors */
#page-1 { background-color: var(--page-1-bg); }
#page-2 { background-color: var(--page-2-bg); }
#page-3 { background-color: var(--page-3-bg); }
#page-4 { background-color: var(--page-4-bg); }

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    padding: 0 4rem;
}

.page h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin: 1rem;
}

.page p {
    font-size: 1.3rem;
}

.btn {
    display: inline-block;
    text-decoration: none;    
    background: #f4f4f4;
    color: #333;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2px;
    margin-top: 1rem;
    font-size: 1.1rem;
    transition: all 0.25s ease-in;
}

.btn:hover,
.btn-dark {
    background: #333;
    color: #f4f4f4;
}

.btn-dark:hover {
    background: #f4f4f4;
    color: #333;
}

/* Page Animation */
#page-1 h1 {
    transform: translateY(-1200px);
    animation: heading 1.5s forwards ease-in;
}

#page-1 p {
    transform: translateX(-1800px);
    animation: text 1.5s forwards ease-in 1s;
}

@keyframes heading {
    to {
        transform: translateY(0px);
    }
}

@keyframes text {
    to {
        transform: translatex(0px);
    }
}